body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1.2rem;
}

header,
footer {
    background-color: forestgreen;
    color: white;
    padding: 1rem;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    background-color: antiquewhite;
    padding: 1rem;
}

li {
    margin-top: 0.5rem;
}

#contact-form{
    border: 2px solid forestgreen;
    padding: 1rem;    
}

label, input{
    display: block;
}

input{
    margin-bottom: 1rem;
    padding: .5rem;
}

#contact-form button{
    font-size: 1.5rem;
    padding: .5rem;
    background-color: forestgreen;
    color: white;
}

@media screen and (min-width: 1150px) {
    .plant-section__content {
        display: flex;
        justify-content: space-between;
    }
}
