body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    padding: 20px;
  }
  h1 {
    color: #2e8b57;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  table, th, td {
    border: 1px solid #ccc;
  }
  th, td {
    padding: 10px;
    text-align: left;
  }
  form {
    margin-top: 20px;
    border: 2px solid black;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  label{
      text-align: right;
      margin: 1rem 0;
      padding: .5rem;
  }
  input{
    margin: 1rem 0;
    padding: .5rem;
  }
  .highlight {
    background-color: yellow;
  }
  .animal {
    color: #4b0082;
    font-weight: bold;
  }    
  button{
      grid-column: 1/3;
      padding: 1rem;
      margin: 1rem auto;
      width: 100px;
  }